/EducationalPortal/BusinessLayer/bin
/EducationalPortal/DataAccessLayer/bin
/EducationalPortal/BusinessLayer/obj/Debug
/EducationalPortal/DataAccessLayer/obj/Debug
/EducationalPortal/EducationalPortal/bin
/EducationalPortal/EducationalPortal/obj/Debug
/EducationalPortal/EducationalPortal.v12.suo